html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Inter;
  background-color: rgb(161, 106, 200);
  color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.heading {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: WHITE;
}

.upper {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-bottom: 1rem;
}

.upper > * {
  border-radius: 5px;
  padding: 0.5em 1em;
}

.change-button {
  background-color: rgb(255, 218, 11);
  outline: none;
  border: solid 2px;
}

.change-button::placeholder {
  font-size: 0.5rem;
}

.conversions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
  font-weight: 600;
  color: rgb(255, 218, 11);
}

.conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conversions h1 {
  margin-bottom: 0.4rem;
}

p {
  /* margin-top: .4em; */
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  height: 13px;
  width: 200px;
  text-align: center;
  border: solid 1px black;
  font-weight: 400;
}
